extends layout
title=hackUSU
block content
  .bg-overlay
    //-(data-0='background-image:linear-gradient(315deg, hsl(74, 4%, 100%), hsl(199, 62%, 25%));', data-end='background-image:linear-gradient(315deg, hsl(199,62%, 25%),hsl(74, 4%, 100%));')
  .content(id='#skrollr-body')
    section#main.montserrat
      .ui.page.grid
        .row
          .center.aligned.column
            .content
              img.logo(src='/images/logos/hackusu-logo.png', onerror='this.onerror=null; this.src=/core/static/assets/images/hack-logo-white.png')
              |   
              .title
              .tagline
               | Learn. Create. Build. Repeat.
              |                          
              .description
                | If you don't build it, who will?
              .date
                br
                | Thursdays @ 6:00 PM &nbsp;
              .location
                | Old Main 406
              | 
              br
              br
              |             
              button.montserrat.green.outline.button(onclick="location.href='http://goo.gl/forms/6lsbx5qJHu'") SIGN UP

    section#projects
      .projects-title
        | PROJECTS
      .ui.three.column.center.aligned.stackable.page.grid
        .row
          .column
            i.huge.calendar.icon
            p USU Events App  
          .column
            i.huge.game.icon
            p Unity Game
          .column
            i.huge.apple.icon
            p iOS App
      .projects-tech
        | TECH
      .ui.one.column.center.aligned.stackable.page.grid
        .row
          .column
            .ui.huge.horizontal.divided.list
              div.item
                  img(src='/images/tech/slack.png').ui.avatar.image.tech-images
                  div.content
                    a(href='http://www.slack.com/').header
                      | Slack
              div.item
                  img(src='/images/tech/bootstrap.png').ui.avatar.image.tech-images
                  div.content
                    a(href='http://getbootstrap.com/').header
                      | Bootstrap
              div.item
                  img(src='/images/tech/git.png').ui.avatar.image.tech-images
                  div.content
                    a(href='http://git-scm.com/').header
                      | Git
        .row
          .column
            .ui.huge.horizontal.divided.list
              div.item
                img(src='/images/tech/github.png').ui.avatar.image.tech-images
                div.content
                  a(href='https://github.com/').header
                      | Github
              div.item
                  img(src='/images/tech/html5.png').ui.avatar.image.tech-images
                  div.content
                    a(href='http://www.w3schools.com/html/html5_intro.asp').header
                      | HTML 5
              div.item
                  img(src='/images/tech/javascript.jpeg').ui.avatar.image.tech-images
                  div.content
                    a(href='http://www.w3schools.com/js/').header
                      | Javascript
        .row
          .column
            .ui.huge.horizontal.divided.list
              div.item
                  img(src='/images/tech/jquery.png').ui.avatar.image.tech-images
                  div.content
                    a(href='https://jquery.com/').header
                      | JQuery
              div.item
                  img(src='/images/tech/node.png').ui.avatar.image.tech-images
                  div.content
                    a(href='https://nodejs.org/').header
                      | node.js
              div.item
                  img(src='/images/tech/semantic-ui.png').ui.avatar.image.tech-images
                  div.content
                    a(href='http://semantic-ui.com/').header
                      | Semantic-UI
        .row
          .column
            .ui.huge.horizontal.divided.list
              div.item
                  img(src='/images/tech/sqlite.jpg').ui.avatar.image.tech-images
                  div.content
                    a(href='http://www.sqlite.org/').header
                      | SQLite
              div.item
                  img(src='/images/tech/jade.png').ui.avatar.image.tech-images
                  div.content
                    a(href='http://jade-lang.com/').header
                      | Jade
              div.item
                  img(src='/images/tech/unity3d.png').ui.avatar.image.tech-images
                  div.content
                    a(href='http://unity3d.com/').header
                      | Unity3D

    section#who-we-are
      .who-we-are-title
        | HACKERS
        br
        br
        .ui.two.column.center.aligned.stackable.page.grid
          .row
            .column
              .chart-title
                | Year
              canvas#yearChart(width='250', height='250')
              div#yearChart-Legend
            .column
              .chart-title
                | Major
              canvas#majorChart(width='250', height='250')
              div#majorChart-Legend
    
    section#sponsor
      .sponsor-title
        | SPONSORS
        .silver.tier      
          a(href='http://www.cvehosted.com/')
            img(src='images/logos/cve-hosted.png')
          a(href='http://www.usu.edu/')
            img(src='images/logos/usu-logo.png')
          a(href='http://www.engineering.usu.edu/')
            img(src='images/logos/engineering-logo.jpg')
          a(href='http://www.xmission.com/')
            img(src='images/logos/xmission-logo.png')
          a(href='http://www.atomicjolt.com/')
            img(src='images/logos/atomicjolt-logo.png')
          a(href='http://www.digitalocean.com/')
            img(src='images/logos/digitalocean-logo.png')
          a(href='https://www.stickermule.com/marketplace/search?utf8=%E2%9C%93&q=hackUSU')
            img(src='images/logos/stickermule-logo.png')
        |     
        .sponsor-message
          | Interested in sponsoring? Email us at 
          a(href='mailto:team@hackusu.org')
            | team@hackusu.org
          | .
          | 
              
                       
    section#footer.lato
      .content
        | Built with 
        a(href='http://youtu.be/yPar4PvRWAY', style='text-decoration: none')
          i.ui.red.heart.icon
        |  by the hackUSU team 2015.
      br
      a.social(href='mailto:team@hackusu.org')
        i.ui.icon.mail
      |     
      a.social(href='https://twitter.com/hackusu')
        i.ui.icon.twitter
      |     
      a.social(href='https://www.facebook.com/HackUSU')
        i.ui.icon.facebook
    script(src='mychart.js')
