doctype html
html
  head
    title= title
    // Images
    link(rel='icon', type='image/png', href='/s/assets/images/hack-logo-favicon.png')
    // Fonts
    link(href='//fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Lato:300', rel='stylesheet', type='text/css')
    // JQuery
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    // Stylesheets
    link(rel='stylesheet' href="/stylesheets/main.css")
    // SemanticUI
    script(src="/bower_components/semantic-ui/dist/semantic.min.js")
    link(rel='stylesheet' href="/bower_components/semantic-ui/dist/semantic.min.css")
    // Skrollr
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='base.js')
    script(src='index.js')
    script(src='/bower_components/skrollr/dist/skrollr.min.js')  
    link(rel='stylesheet' href="/stylesheets/index.css")
    script(src='google-analytics.js')


  body
    block content
